@charset "utf-8";
div {
	max-width: 1066.67px;
	font-family: 微软雅黑;
	font-style: normal;
	letter-spacing: normal;
	font-size: x-large;
	min-width: 812px;
	border: thick solid #30363D;
}
body {
	display: flex;			/* 项目居中 */
	justify-content: center;
}
