@charset "utf-8";

html {
  color: #222;
  /* background: #B7BCBC; */
    background: rgb(229, 229, 229);
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 800px;
  padding: 0px 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  /* border: thin solid #0000006c; */
}


ol,
ul {
  list-style: none;
}

h2,
h3,
h4,
h5,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  font-family: inherit;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

pre,
code {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #999999;
}


a {
  text-decoration: none;
  color: #000000;
  margin: 0 10px;
  border-bottom: medium rgba(148, 0, 211, 0) dotted;
}

.menu a:hover {
  position: sticky;
  border-bottom: 2px dotted;
}

.list-post a:hover{
  color: blue;
  position: sticky;
  border-bottom: 2px dotted;
}

/* 页头 */
.header {

  border: 1px solid #000000;
  min-height: 64px;

  /* 浮动效果 */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;

  padding: 3px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #e1e9e9;
}

.header .logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5%;
  flex-shrink: 0;
  display: inline-block;
  user-select: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 0 6px 0 0;
}

.header .logodownh2 {
  text-align: center;
}


.header .menu {
  margin-right: -9px;
  text-align: right;
  user-select: none;
}

.header .menu a {
  display: inline-block;
  /* font-size: 13px; */
  padding: 5px;
  white-space: nowrap;
  user-select: auto;
}






/* 页脚 */

.footer {
  padding: 30px 0px;

  /* border: medium solid #00000054; */
}

.footer a {
  color: #800080;
  padding: 0 4px;
  white-space: nowrap;
}

.footer a:hover{
  position: sticky;
  border-bottom: 2px dotted;
}


.footer-btn.theme-toggler {
  right: 16px;
  bottom: 64px;
}

footer-btn {
  position: fixed;
  z-index: 99;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}



/* 快速返回顶层 */

#to-top {
  position: fixed;
  z-index: 99;
  right: 16px;
  bottom: 12px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.45;
  overflow: hidden;
  transform: translateY(66px);
  transition: transform 200ms ease-in-out;
}

#to-top.show {
  transform: translateY(0);
}

 #to-top>span {
  text-align: center;
  display: block;
   width: 50%;
  height: 50%; 
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); 
}

#to-top>span:first-child {
  background-color: #ffffff;
}

#to-top>span:last-child {
  background-color: #000000;
  transform: translate(-50%, 16%) rotate(45deg);
} 




@media screen and (max-width: 560px) {
  .header {
    padding: 35px 0 20px 0;
    justify-content: flex-start;
  }

  .header .menu {
    margin-right: -2px;
    text-align: center;
  }

  .header .menu a {
    margin: 2px 5px;
    font-size: 13px;
  }
}

/* links */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.page-links .link {
  display: flex;
  align-items: center;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}