a:link {
    color: #000000;
}      /* 未访问链接*/
a:visited {
    color: #00FF00;
}  /* 已访问链接 */
a:hover {
    color: #FF00FF;
}  /* 鼠标移动到链接上 */
a:active {
    color: #cf5b25;
}  /* 鼠标点击时 */
a {
    text-decoration: none;
}
#div1 {
    border-width: thin;
    border-style: solid;
    padding-right: 20px;
    padding-left: 20px;
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #F4C7FC;
}
.navv {
    background-color: #F4C7FC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 50px;
    border-width: thin;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
}
.nav1 {
    position: absolute;
    width: 79px;
    height: 78px;
    left: 383px;
    top: 43px;
}
#nav1 {
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 51px;
    left: 92px;
    background-color: #F4C7FC;
    border-width: thin;
    border-style: solid;
}
#nav2 {    margin-left: 25%;
    margin-right: 25%;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 49px;
    left: 188px;
    background-color: #F4C7FC;
    border-width: thin;
    border-style: solid;
}
